
[run]
branch = True
source = ast2vec

[report]
exclude_lines =
    no cover
    raise NotImplementedError
    if __name__ == "__main__":
ignore_errors = True
omit =
    ast2vec/tests/*
    ast2vec/swivel.py
